* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111;
}

.logo  {
    height: 50px;
}

header a, header button {
    color: white;
    margin-left: 15px;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
                url('img/work1.jpg') center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    background: #c9a227;
    padding: 12px 30px;
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 70px 40px;
    text-align: center;
}

.gray {
    background: #f4f4f4;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.cards, .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
}


form {
    max-width: 400px;
    margin: auto;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

footer {
    background: #111;
    color: white;
    padding: 20px;
}
